body {
  background-color: rgb(48, 44, 44);
}

.chat-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: none;
  position: relative;
}

.chat-box {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.9); /* Added transparency */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chat-header {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.chat-messages {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-y: auto;
  margin-bottom: 20px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.8);
}

.message {
  display: flex;
  margin-bottom: 10px;
}

.message.user {
  justify-content: flex-end;
}

.message.bot {
  justify-content: flex-start;
}

.message-bubble {
  padding: 10px;
  border-radius: 20px;
  max-width: 75%;
  word-wrap: break-word;
}

.message-bubble.user {
  background-color: #4299e1;
  color: white;
  text-align: right;
}

.message-bubble.bot {
  background-color: #e2e8f0;
  color: black;
  text-align: left;
}

.input-container {
  display: flex;
}

.chat-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.chat-button {
  padding: 10px 20px;
  background-color: rgb(48, 44, 44);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.chat-button:hover {
  background-color: #2b6cb0;
}

/* Typing indicator styling */
.typing-indicator {
  color: gray;
  font-style: italic;
  margin-bottom: 10px;
}

/* Add this to position the image */
.chat-image {
  position: absolute;
  top: -19%;
  left: 35%;
  /* transform: translateY(-50%); */
  width: auto;
  height: 15vh;
  object-fit: cover;
  border-radius: 10px;
}
